<mat-card class="example-card">

<div class="example-form">
  <div class="card-body">
  <mat-form-field class="example-full-width">
    <mat-select placeholder="Select Name">
      <mat-option *ngFor="let name of names" [value]="name.value">
        {{name.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Full Name" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Address"></textarea>
      </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Mobile number" value="">
    <br>
  </mat-form-field>

  </div>
<div>
  <button mat-button color="warm">Submit</button>
  <button mat-button color= "warm">Update</button>
  <button mat-button color= "warm">Reset</button>
</div>
</div>
</mat-card>
