<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
         <em>Website Designing</em>
      </ng-template>
      <h1></h1>
      <p>...</p>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
          <em>E-Commerce Solution</em>
              </ng-template>
      <h1></h1>
      <p>...</p>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
           <em>SE Optimization</em> 
        </ng-template>
        <h1></h1>
      </mat-tab>
      <mat-tab>
          <ng-template mat-tab-label>
            <em>Logo Designing</em> 
          </ng-template>
          <h1></h1>
          <p>...</p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
              <em>Other Services</em>
            </ng-template>
            <h1></h1>
            <p>...</p>
          </mat-tab>
  </mat-tab-group>