.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.example-icon {
  padding: 0 16px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-spacer1 {
  flex: 0 0 inherit;
}

.con{
 margin-left: 20px;
 margin-right: 20px;
}